<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">
<body>
<div layout:fragment="content">
    <h1>Detalles del usuario</h1>
    <div>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2" >ID</dt>
            <dd class="col-sm-10" th:text="${usuario.id}"></dd>

            <dt class="col-sm-2" >Nombre</dt>
            <dd class="col-sm-10" th:text="${usuario.nombre}"></dd>

            <dt class="col-sm-2" >Email</dt>
            <dd class="col-sm-10" th:text="${usuario.email}"></dd>

            <dt class="col-sm-2" >Contraseña</dt>
            <dd class="col-sm-10" th:text="${usuario.contrasena}"></dd>
        </dl>

        <a th:href="@{/usuarios/edit/{id} (id = ${usuario.id}) }" class="btn btn-outline-info">Editar</a> |
        <a th:href="@{/usuarios}">Regresar</a>
    </div>
</div>