<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">
<body>
<div layout:fragment="content">
    <div class="card" style="max-width: 500px; margin: 0 auto; margin-top: 20px;">
        <div class="card-body">
            <h1 class="card-title text-center">Detalle de la Categoría</h1>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">ID</dt>
                <dd class="col-sm-8">
                    <input type="text" class="form-control" value="" th:value="${categoria.id}" readonly>
                </dd>

                <dt class="col-sm-4">Nombre</dt>
                <dd class="col-sm-8">
                    <input type="text" class="form-control" value="" th:value="${categoria.nombre}" readonly>
                </dd>

                <dt class="col-sm-4">Descripción</dt>
                <dd class="col-sm-8">
                    <textarea class="form-control" rows="3" readonly th:text="${categoria.descripcion}"></textarea>
                </dd>
            </dl>
            <hr />
            <div class="text-center">
                <a th:href="@{/categorias/edit/{id}(id=${categoria.id})}" class="btn btn-outline-info">
                    <i class="fas fa-pencil-alt"></i></a>

                <a th:href="@{/categorias}" class="btn btn-outline-danger">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
