<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">
<body>
<div layout:fragment="content">
    <h1>Eliminar Productos</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2"> ID</dt>
            <dd class="col-sm-10" th:text="${producto.id}"></dd>

            <dt class="col-sm-2"> Nombre</dt>
            <dd class="col-sm-10" th:text="${producto.nombre}"></dd>

            <dt class="col-sm-2"> Descripcion</dt>
            <dd class="col-sm-10" th:text="${producto.descripcion}"></dd>

            <dt class="col-sm-2"> Precio</dt>
            <dd class="col-sm-10" th:text="${producto.precio}"></dd>

            <dt class="col-sm-2"> Stock</dt>
            <dd class="col-sm-10" th:text="${producto.stock}"></dd>

            <dt class="col-sm-2"> IdCategoria</dt>
            <dd class="col-sm-10" th:text="${producto.idCategoria}"></dd>
        </dl>
        <form th:action="@{/productos/delete}" method="post">
            <input type="hidden" name="id" th:value="${producto.id}">
            <input type="submit" value="Eliminar" class="btn btn-danger">
            <a th:href="@{/productos}" class="btn btn-secondary">Regresar</a>
        </form>
    </div>
</div>