<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">
<body>
<div layout:fragment="content">
    <div class="card" style="max-width: 600px; margin: 0 auto; margin-top: 30px;">
        <div class="card-body">
            <h1 class="card-title text-center">Editar Producto</h1>
            <form th:action="@{/productos/save}" th:object="${producto}" method="post">
                <input type="hidden" th:field="*{id}">

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del producto" required>
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" th:field="*{descripcion}" id="descripcion" cols="12" rows="3" required></textarea>
                </div>

                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="text" class="form-control" th:field="*{precio}" id="precio">
                </div>

                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input type="text" class="form-control" th:field="*{stock}" id="stock">
                </div>

                <div class="form-group">
                    <label for="categoria">Categoría</label>
                    <select class="form-control" th:field="*{categoria}" id="categoria">
                        <option th:each="categoria : ${categorias}"
                                th:value="${categoria.id}"
                                th:text="${categoria.nombre}"
                                th:selected="${producto.categoria?.id == categoria.id}">Categoría</option>
                    </select>
                </div>


                <!-- Sección para mostrar la imagen actual -->
                <div class="form-group">
                    <label>Imagen Actual</label>
                    <div class="mb-2">
                        <img th:src="'data:image/jpeg;base64,' + ${producto.imagen}" alt="Imagen del Producto" style="max-width: 100%; height: auto;"/>
                    </div>
                    <!-- Botón para cambiar imagen -->
                    <a th:href="@{/productos/changeImage/{id}(id=${producto.id})}" class="btn btn-warning">Cambiar Imagen</a>
                </div>

                <hr>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    <a th:href="@{/productos}" class="btn btn-secondary">Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
