<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div layout:fragment="content">
    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
                title: "Confirmación",
                text: [[${msg}]],
                icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: [[${error}]],
                icon: "error"
            });
        </script>
    </div>

    <h1>Listado de Productos</h1>
    <a th:href="@{/productos/create}" class="btn btn-outline-primary">
        <i class="fas fa-plus"></i> Nuevo Producto
    </a>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${productos}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.descripcion}"></td>
            <td th:text="${item.precio}"></td>
            <td th:text="${item.stock}"></td>
            <td th:text="${item.idCategoria}"></td>
            <td>
                <img th:src="'data:image/jpeg;base64,' + ${item.imagen}" alt="Imagen del producto" style="width: auto; height: 100px; object-fit: cover;">
            </td>
            <td>
                <a th:href="@{/productos/details/{id}(id=${item.id})}" class="btn btn-outline-secondary">
                    <i class="fas fa-eye"></i> Detalles
                </a> |
                <a th:href="@{/productos/edit/{id}(id=${item.id})}" class="btn btn-outline-info">
                    <i class="fas fa-pencil-alt"></i> Editar
                </a> |
                <a th:href="@{/productos/remove/{id}(id=${item.id})}" class="btn btn-outline-danger">
                    <i class="fas fa-trash-alt"></i> Eliminar
                </a> |
                <a th:href="@{/productos/changeImage/{id}(id=${item.id})}" class="btn btn-outline-warning">
                    <i class="fas fa-image"></i> Cambiar Imagen
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{|/productos?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>
