<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lista de Ventas</title>
</head>
<body>
<h1>Lista de Ventas</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="venta : ${ventas}">
    <td th:text="${venta.id}">ID</td>
    <td th:text="${venta.nombre}">Nombre</td>
    <td th:text="${venta.descripcion}">Descripción</td>
    <td th:text="${venta.precio}">Precio</td>
    <td th:text="${venta.cantidad}">Cantidad</td>
    <td th:text="${venta.total}">Total</td>
  </tr>
  </tbody>
</table>
<a href="/ventas/nueva">Nueva Venta</a>
</body>
</html>
